<div class="container">
    <h1>Current Loans</h1>

    <div class="loan">
        <h2 class="loan_title">loan title1</h2>
        <div class="loan_details">
            <p class="loan_content">loan data</p>
            <button class="loan_button">INVEST</button>
        </div>
    </div>

    <div class="loan">
        <h2 class="loan_title">loan title2</h2>
        <div class="loan_details">
            <p class="loan_content">loan data</p>
            <button class="loan_button">INVEST</button>
        </div>
    </div>

    <div class="loan">
        <h2 class="loan_title">loan title3</h2>
        <div class="loan_details">
            <p class="loan_content">loan data</p>
            <button class="loan_button">INVEST</button>
        </div>       
    </div>  
</div>
